# MariaDB
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=coverletter_rag
MARIADB_USER=
MARIADB_PASSWORD=

# Spring DB
SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3307/coverletter_rag
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# OpenAI
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4.1-mini

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=coverletter_experiences